/* 会员-导航 开始 */
.top {
    /* float: left; */
    margin-left: 433px;
    margin-top: 30px;
    width: 300px;
    position: relative;
}

.top span {
    font-size: 14px;
    margin-left: 5px;
}

.top span:first-child::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -12px;
    width: 16px;
    height: 16px;
    background-image: url(../upload/adidas-icon-new.png);
    background-position: -174px 0;
}

.middle {
    float: left;
    margin-top: 30px;
    margin-left: 433px;
    width: 450px;
}

.title h3 {
    float: left;
    font-size: 22px;
    font-weight: bolder;
}

.title h3:first-child {
    padding: 0px 15px 14px 14px;
    border-bottom: 2px solid #000000;
}

.title h3:last-child {
    padding: 0px 13px 14px;
    border-bottom: 2px solid #000000;
}

.tel {
    /* float: left; */
    margin-top: 20px;
    width: 380px;
    height: 40px;
    padding: 0px 10px;
}

.num {
    margin-top: 20px;
}

.num input {
    float: left;
    width: 250px;
    height: 40px;
    padding: 0px 10px;
}

.num span {
    display: block;
    width: 130px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #000000;
    float: left;
}

.remember {
    margin-top: 20px;
}

.remember input {
    float: left;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 4px solid #dddddd;
    box-sizing: border-box;
    margin-right: 15px;
}

.remember span {
    float: left;
    padding-top: 10px;
}

.log {
    width: 380px;
    height: 40px;
    margin-top: 35px;
    background-color: #000000;
    margin-left: 15px;
}

.log>a {
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.other {
    margin-top: 50px;
}

.other img {
    width: 42px;
    height: 42px;
    margin-top: 20px;
    margin-left: 30px;
}

.other span {
    display: block;
    padding-top: 30px;
    color: #888888;
}


/* 会员-导航 结束 */

/* 内容开始 */
.content {
    float: right;
    margin-right: 433px;
    margin-top: 30px;
    padding-left: 30px;
    border-left: 1px solid #000000;
}

.content h3 {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.vip {
    margin-bottom: 20px;
}

.contents span {
    display: block;
    margin-top: 10px;
}