/* 鼠标移动到元素，显示； 开始 */
.down-tri-first,
.down-tri-second,
.down-tri-third,
.down-tri-forth,
.down-tri-fifth {
    /* overflow: hidden; */
    visibility: hidden;
    /* display: inline-block; */
    position: absolute;
    top: 25px;
    left: 15px;
    width: 0px;
    height: 0px;
    border: 17px solid red;
    border-top-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 3;
}

.search-area-nav li:nth-child(2):hover .down-tri-first,
.search-area-nav li:nth-child(3):hover .down-tri-second,
.search-area-nav li:nth-child(4):hover .down-tri-third,
.search-area-nav li:nth-child(6):hover .down-tri-forth,
.search-area-nav li:nth-child(7):hover .down-tri-fifth {
    display: block;
}

.search-area-content {
    visibility: hidden;
    width: 1903px;
    position: absolute;
    top: 63px;
    height: 0px;
    left: -312px;
    /* height: 380px; */
    background-color: #fff;
    z-index: 2;
    transition-property: height;
    transition-duration: 3s;
}

.search-area-nav li:nth-child(2):hover .search-area-content,
.search-area-nav li:nth-child(3):hover .search-area-content,
.search-area-nav li:nth-child(4):hover .search-area-content,
.search-area-nav li:nth-child(6):hover .search-area-content,
.search-area-nav li:nth-child(7):hover .search-area-content {
    visibility: visible;
    height: 380px;
}



/* 鼠标移动到元素，显示； 结束 */

/* 男子：显示部分；开始 */
.search-content {
    float: left;
    margin: 16px 20px 34px 30px;
}

.search-content-first {
    float: left;
    position: relative;
    width: 200px;
}

.search-content-first a {
    display: block;
    z-index: 5;
}

.search-content-first a:first-child:hover,
.search-content-first a:last-child:hover {
    text-decoration: none;
}

.search-content-first a:hover {
    text-decoration: underline;
}

.search-content-first a:first-child {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.search-content-first a:nth-child(2),
.search-content-first a:nth-child(3),
.search-content-first a:nth-child(4) {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-content-first i {
    color: #c8cbcc;
}

.search-content-first a:nth-last-child(2),
.search-content-first a:nth-last-child(3),
.search-content-first a:nth-last-child(4) {
    font-size: 14px;
    margin-top: 10px;
}

.search-content-first a:last-child {
    position: absolute;
    bottom: -125px;
    left: 0px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #000000;
}

/* 第二 */
.search-content-second {
    float: left;
    position: relative;
    width: 200px;
    margin-left: 50px;
}

.search-content-second a {
    display: block;

}

.search-content-second a:first-child:hover,
.search-content-second a:last-child:hover {
    text-decoration: none;
}

.search-content-second a:hover {
    text-decoration: underline;
}

.search-content-second a:first-child {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.search-content-second a:nth-child(2),
.search-content-second a:nth-child(3),
.search-content-second a:nth-child(4),
.search-content-second a:nth-child(5),
.search-content-second a:nth-child(6),
.search-content-second a:nth-child(7),
.search-content-second a:nth-child(8),
.search-content-second a:nth-child(9),
.search-content-second a:nth-child(10) {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-content-second i {
    color: #c8cbcc;
}

.search-content-second a:last-child {
    position: absolute;
    bottom: -62px;
    left: 0px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #000000;
}

/* 第三个 */
.search-content-third {
    float: left;
    position: relative;
    width: 200px;
    margin-left: 50px;
}

.search-content-third a {
    display: block;

}

.search-content-third a:first-child:hover,
.search-content-third a:last-child:hover {
    text-decoration: none;
}

.search-content-third a:hover {
    text-decoration: underline;
}

.search-content-third a:first-child {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.search-content-third a:nth-child(2),
.search-content-third a:nth-child(3),
.search-content-third a:nth-child(4),
.search-content-third a:nth-child(5),
.search-content-third a:nth-child(6),
.search-content-third a:nth-child(7),
.search-content-third a:nth-child(8) {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-content-third i {
    color: #c8cbcc;
}

.search-content-third a:last-child {
    position: absolute;
    bottom: -110px;
    left: 0px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #000000;
}

/* 第四个 */
.search-content-forth {
    float: left;
    position: relative;
    width: 200px;
    margin-left: 50px;
}

.search-content-forth a {
    display: block;

}

.search-content-forth a:first-child:hover,
.search-content-forth a:last-child:hover {
    text-decoration: none;
}

.search-content-forth a:hover {
    text-decoration: underline;
}

.search-content-forth a:first-child {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.search-content-forth a:nth-child(2),
.search-content-forth a:nth-child(3),
.search-content-forth a:nth-child(4),
.search-content-forth a:nth-child(5),
.search-content-forth a:nth-child(6) {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-content-forth i {
    color: #c8cbcc;
}

.search-content-forth a:last-child {
    position: absolute;
    bottom: -158px;
    left: 0px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #000000;
}

/* 第五个 */
.search-content-fifth {
    float: left;
    position: relative;
    width: 200px;
    margin-left: 50px;
}

.search-content-fifth a {
    display: block;

}

.search-content-fifth a:first-child {
    position: relative;
}

.search-content-fifth a:first-child i {
    background-image: url(../image/icon.png);
    width: 16px;
    height: 16px;
    background-position: -99px -190px;
    position: absolute;
    top: 1px;
    left: -20px;
}

.search-content-fifth a:first-child:hover,
.search-content-fifth a:last-child:hover {
    text-decoration: none;
}

.search-content-fifth a:hover {
    text-decoration: underline;
}

.search-content-fifth a:first-child {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.search-content-fifth a:nth-child(3),
.search-content-fifth a:nth-child(4),
.search-content-fifth a:nth-child(5),
.search-content-fifth a:nth-child(6) {
    font-size: 14px;
    margin-bottom: 10px;
}

.search-content-fifth i {
    color: #c8cbcc;
}

.search-content-fifth a:last-child {
    position: absolute;
    bottom: -100px;
    left: 0px;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #000000;
}

/* 男子：显示部分；结束 */

/* 女子：显示部分：开始 */
/* 女子：显示部分：结束 */