/* 整个页面布局 开始 */
#wapper {
  position: relative;
}

/* 整个页面布局 结束 */


/* 顶端可隐藏部分的 开始 */

.advertisement img {
  height: 60px;
  width: 100%;
}

.advertisement img:hover {
  display: none;

}

/* 顶端可隐藏部分的 结束 */

/* 顶端导航 开始 */

。nav-top {
  position: fixed;
  width: 100%;
  height: auto;

}


/* 顶端导航 结束 */