/* 整个body的背景 */
body {
  background-color: #fff;
}


/* 顶端导航 开始 */
.top-nav {
  width: 100%;
}

.top-nav {
  height: 30px;
  background-color: #000000;
}

.top-nav-left ul {
  float: right;
  height: 30px;
}

.top-nav-left ul li {
  display: inline-block;
  width: 105px;
  text-align: center;
}

.top-nav-left li a {
  color: #c8cbcc;
  line-height: 30px;
}

.top-nav-left ul li:first-child,
.top-nav-left ul li:nth-child(2),
.top-nav-left ul li:nth-child(3),
.top-nav-left ul li:last-child {
  position: relative;
}

.top-nav-left ul li:first-child img {
  position: absolute;
  top: 9px;
  right: 12px;
}

.top-nav-left ul li:nth-child(2) img {
  position: absolute;
  top: 10px;
  right: 18px;
}

.top-nav-left ul li:nth-child(3) img {
  position: absolute;
  top: 9px;
  right: 8px;
}

.top-nav-left ul li:last-child img {
  position: absolute;
  top: 9px;
  right: 20px;
}

/* 顶端导航 结束 */

/* 搜索栏 开始 */

.search-area {
  height: 50px;
  background-color: #000000;
}

.search-area-nav ul {
  float: left;
  position: relative;
  height: 50px;
  margin-top: -13px;
}

.search-area-nav ul li {
  display: inline-block;
}

.search-area-nav ul li:nth-child(5) {
  margin: 0px 15 px;
  color: #666666;
  font-size: 24px;
}

.search-area-nav ul li>a {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  width: 36px;
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
  padding: 0px 15px;
}

.search-part {
  float: right;
  width: 238px;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
}

.search-part div:first-child {
  float: left;
  width: 180px;
  height: 32px;
  background-color: #ffffff;
}

.search-part div:first-child a img {
  float: left;
  margin: 8px 8px;
}

.search-part div:first-child a:last-child img {
  float: left;
  visibility: hidden;
  margin: 9px;
}

.search-part div:first-child input:hover a:last-child img {
  visibility: visible;
}

.search-part div:first-child input {
  float: left;
  width: 116px;
  height: 100%;
  box-sizing: border-box;
  border: none;
  color: #c3c3c3;
}

.search-part div:last-child {
  float: left;
  width: 58px;
  height: 32px;
}

.search-part div:last-child a img {
  padding-top: 6px;
  padding-left: 20px;
  box-sizing: border-box;
}


/* 搜索栏 结束 */



/* 导航下面的商品图片 开始 */
.second-part-show {
  position: relative;
}


.second-part-show a img {
  width: 100%;
}



/* 第一想法：在后面加一个盒子 pass */
/* 
.second-box {
  position: absolute;
  bottom: 177px;
  left: 230px;
  width: 157px;
  height: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;
} */

.second-box-word {
  position: absolute;
  bottom: 180px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
  transition: all 0.3;
}


.second-box-word::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-color: #fff;
  box-shadow: inset 0 0 0 1px #000;
  transform: translate(5px, 5px);
  z-index: -1;
}

.second-box-word div {
  transition: all 0.4s;
}

.second-box-word div:hover {
  opacity: 0.6;
}

.second-box-word span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  z-index: 3;
}


.second-box-word i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  z-index: 3;
}

/* 导航下面的商品图片 结束 */

/* 第三个商品图片 开始 */
.third-part-show {
  margin-top: 15px;
  position: relative;
}

.third-part-show a img {
  width: 100%;
}

.third-box-word-one {
  position: absolute;
  bottom: 250px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
}

.third-box-word-one div {
  transition: all 0.3s;
}

.third-box-word-one div:hover {
  opacity: 0.6;
}

.third-box-word-one span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  z-index: 3;
}


.third-box-word-one i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  z-index: 3;
}


.third-box-word-two {
  position: absolute;
  bottom: 180px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
}

.third-box-word-two div {
  transition: all 0.3s;
}

.third-box-word-two div:hover {
  opacity: 0.6;
}

.third-box-word-two span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  z-index: 3;
}


.third-box-word-two i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  z-index: 3;
}

/* 第三个商品图片 结束 */

/* 第四部分：四个鞋子并排 开始 */
.forth-part-show {
  margin-top: 28px;
  margin-bottom: 40px;
  height: 220px;
}

.forth-shoes-part {
  float: left;
}

.forth-shoes-part li {
  display: inline-block;
  width: 300px;
  text-align: center;
  padding: 22px 0px;
}

.forth-shoes-part li a h3 {
  text-decoration: underline;
  font-size: 14px;
  margin-top: 25px;
  font-weight: lighter;
}

/* 第四部分：四个鞋子并排 结束 */

/* 第五部分：鞋子的展示 开始 */
.fifth-part-show {
  position: relative;
  width: 100%;
  height: 607px;
  margin-bottom: 15px;
  border: 1px soild #000000;
  box-sizing: border-box;
}

.fifth-part-show a:first-child img {
  float: left;
  margin-bottom: 20px;
  width: 915px;
  padding-left: 24px;
}

.fifth-box-word-one {
  position: absolute;
  bottom: 60px;
  left: 384px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
  transition: all 0.3;
}

.fifth-box-word-one div {
  transition: all 0.4s;
}


.fifth-box-word-one div:hover {
  opacity: 0.6;
}

.fifth-box-word-one span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}


.fifth-box-word-one i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

.fifth-part-show a:last-child img {
  float: left;
  position: relative;
  margin-left: 22px;
  margin-bottom: 20px;
  height: 607px;
}


.fifth-box-word-two {
  position: absolute;
  bottom: 60px;
  right: 468px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.fifth-box-word-two div {
  transition: all 0.4s;
}

.fifth-box-word-two div:hover {
  opacity: 0.6;
}

.fifth-box-word-two span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}


.fifth-box-word-two i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

/* 第五部分：鞋子的展示 结束 */

/* 第六部分：商品展示 开始 */
.sixth-part-show {
  margin: 15px 0px;
  height: 720px;
  width: 100%;
  position: relative;
}

.sixth-part-show a img {
  width: 100%;
}

.sixth-box-word-one {
  position: absolute;
  bottom: 250px;
  left: 865px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.sixth-box-word-one div {
  transition: all 0.3s;
}

.sixth-box-word-one div:hover {
  opacity: 0.6;
}

.sixth-box-word-one span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}


.sixth-box-word-one i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

.sixth-box-word-two {
  position: absolute;
  bottom: 170px;
  left: 865px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.sixth-box-word-two div {
  transition: all 0.3s;
}

.sixth-box-word-two div:hover {
  opacity: 0.6;
}

.sixth-box-word-two span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}


.sixth-box-word-two i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

/* 第六部分：商品展示 结束 */

/* 第七部分：商品展示 开始 */
.seventh-box-word-one {
  position: absolute;
  bottom: 35px;
  left: 400px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
}

.seventh-box-word-one div {
  transition: all 0.3s;
}

.seventh-box-word-one div:hover {
  opacity: 0.6;
}

.seventh-box-word-one span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  z-index: 3;
}


.seventh-box-word-one i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  z-index: 3;
}

.seventh-box-word-two {
  position: absolute;
  bottom: 35px;
  right: 455px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.seventh-box-word-two div {
  transition: all 0.3s;
}

.seventh-box-word-two div:hover {
  opacity: 0.6;
}

.seventh-box-word-two span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}


.seventh-box-word-two i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

/* 第八部分:商品展示 开始 */

/* 第八部分:商品展示 结束 */
.eighth-part-show {
  width: 100%;
  height: 720px;
  position: relative;
}

.eighth-part-show a img {
  width: 100%;
}

.eighth-box-word {
  width: 100%;
}

.eighth-box-word {
  position: absolute;
  bottom: 180px;
  left: 230px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000;
  background-color: #000;
  z-index: 2;
  overflow: visible;
}

.eighth-box-word div {
  transition: all 0.3s;
}

.eighth-box-word div:hover {
  opacity: 0.6;
}

.eighth-box-word span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #fff;
  z-index: 3;
}

.eighth-box-word i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #fff;
  z-index: 3;
}

/* 第九部分：商品展示 开始 */
.ninth-part-show {
  width: 100%;
  height: 720px;
  position: relative;
  margin-bottom: 15px;
}

.ninth-part-show a img {
  width: 100%;
}

.ninth-box-word {
  width: 100%;
}

.ninth-box-word {
  position: absolute;
  bottom: 180px;
  left: 230px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.ninth-box-word div {
  transition: all 0.3s;
}

.ninth-box-word div:hover {
  opacity: 0.6;
}

.ninth-box-word span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bolder;
  color: #000;
  z-index: 3;
}

.ninth-box-word i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  z-index: 3;
}

/* 第九部分：商品展示 结束 */

/* 第十部分：商品展示 开始 */
.tenth-part-show {
  width: 100%;
  height: 720px;
  position: relative;
  margin-bottom: 15px;
}

.tenth-part-show a img {
  width: 100%;
}

.tenth-box-show {
  width: 100%;
}

.tenth-box-word-one {
  position: absolute;
  bottom: 220px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.tenth-box-word-one div {
  transition: all 0.3s;
}

.tenth-box-word-one div:hover {
  opacity: 0.6;
}

.tenth-box-word-one span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  z-index: 3;
}

.tenth-box-word-one i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  font-weight: lighter;
  z-index: 3;
}

.tenth-box-word-two {
  position: absolute;
  bottom: 150px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  z-index: 2;
  overflow: visible;
}

.tenth-box-word-two div {
  transition: all 0.3s;
}

.tenth-box-word-two div:hover {
  opacity: 0.6;
}

.tenth-box-word-two span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  z-index: 3;
}

.tenth-box-word-two i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #000;
  font-weight: lighter;
  z-index: 3;
}

/* 第十部分：商品展示 结束 */

/* 视频部分 开始 */
.the-video {
  width: 100%;
  position: relative;
}

.the-video h3 {
  position: absolute;
  top: 280px;
  left: 140px;
  font-size: 48px;
  font-weight: bolder;
  color: #fff;
}

.the-video-content {
  position: absolute;
  bottom: 130px;
  left: 225px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
}

.the-video-content div {
  transition: all 0.3s;
}

.the-video-content div:hover {
  opacity: 0.6;
}

.the-video-content span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  z-index: 3;
}

.the-video-content i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  font-weight: lighter;
  z-index: 3;
}

/* 视频部分 结束 */


/* 第十一部分：商品展示 开始 */
.eleventh-part-show {
  width: 100%;
  height: 870px;
  position: relative;
}

.eleventh-container {
  width: 1485px;
  height: 100%;
  margin: 0 auto;
}

.eleventh-box-content-top a img {
  float: left;
  width: 365px;
  height: 367px;
  margin: 0px;
  border: 0px;
}

.eleventh-box-content-bottom {
  position: absolute;
  bottom: 40px;
  left: 865px;
  width: 157px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #000000;
  background-color: #000000;
  z-index: 2;
  overflow: visible;
}

.eleventh-box-content-bottom div {
  transition: all 0.3s;
}

.eleventh-box-content-bottom div:hover {
  opacity: 0.6;
}

.eleventh-box-content-bottom span {
  margin-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  z-index: 3;
}

.eleventh-box-content-bottom i {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 28px;
  color: #fff;
  font-weight: lighter;
  z-index: 3;
}

/* 第十二部份：商品轮播图 开始 */
.twelfth-carousel {
  position: relative;
}

.twelfth-carousel-first {
  width: 100%;
  height: 470px;
  margin-bottom: 20px;
}

.twelfth-title {
  float: left;
  height: 50px;
}

.twelfth-title h2 {
  float: left;
  font-size: 28px;
  font-weight: normal;
  color: #000000;
}

.twelfth_content {
  float: left;
  position: relative;
  height: 420px;
}

.carsousel_first li {
  float: left;
  text-align: left;
  margin: 0px 6px;
  box-sizing: border-box;
}

.carsousel_first li:hover {
  border: 1px solid #d9dcdd;
}

.carsousel_first li img {
  width: 290px;
  height: 290px;
}

.carsousel_first li h5 {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: lighter;
  width: 259px;
  /* 第一种方法换行 */
  /* word-break: break-all; */
  /* 第二种方法换行 */
  white-space: normal;
  height: 40px;
  color: #000000;
}

.carsousel_first li span {
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
  width: 259px;
  height: 20px;
  padding-top: 5px;
  margin-bottom: 30px;
}

/* 底部小圆点 */
.bottom-circle {
  float: left;
  width: 100%;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.circle {
  float: left;
  position: absolute;
  top: 0px;
  left: 530px;
}

.circle li {
  display: inline-block;
  list-style: circle;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #000000;
  color: #000;
  box-sizing: border-box;
}

.circle .current {
  background-color: black;
}

.circle li:hover {
  background-color: #000000;
  box-sizing: border-box;
}

/* 精灵图部分 */

.carsousel_left {
  background-image: url(../image/icon.png);
  width: 26px;
  height: 26px;
  background-position: -216px -50px;
  position: absolute;
  top: 205px;
  left: -3px;
}

.carsousel_left:hover {
  background-image: url(../image/icon.png);
  width: 26px;
  height: 26px;
  background-position: -288px -50px;
  position: absolute;
  top: 205px;
  left: -3px;
}

.carsousel_right {
  background-image: url(../image/icon.png);
  width: 26px;
  height: 26px;
  background-position: -252px -50px;
  position: absolute;
  top: 205px;
  right: 70px;
}

.carsousel_right:hover {
  background-image: url(../image/icon.png);
  width: 26px;
  height: 26px;
  background-position: -324px -50px;
  position: absolute;
  top: 205px;
  right: 70px;
}

/* 第十二部份：商品轮播图 结束 */

/* 底部 开始 */
.footer {
  height: 100px;
  width: 100%;
  background-color: #000000;
}

.footer-bottom {
  width: 100%;
}

.footer-bottom ul {
  float: left;
}

.footer-bottom ul li {
  float: left;
  height: 65px;
  color: #fff;
  padding-top: 35px;
  /* display: inline-block; */
}

.footer-bottom ul li:first-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  width: 97px;
  padding: 0px;
  color: #fff;
  margin-right: 80px;
}

.footer-bottom li:nth-child(2) a {
  position: relative;
  height: 25px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-right: 80px;
}

.footer-bottom li:nth-child(2) a i {
  background-image: url(../image/icon.png);
  width: 17px;
  height: 15px;
  background-position: -400px -85px;
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.footer-bottom li:nth-child(2) p {
  margin-top: 5px;
  color: #888888;
}

.footer-bottom li:nth-child(3) h3,
.footer-bottom li:nth-child(4) h3,
.footer-bottom li:nth-child(5) h3 {
  position: relative;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-right: 80px;
}

.footer-bottom li:nth-child(3) h3 i {
  background-image: url(../image/icon.png);
  width: 15px;
  height: 15px;
  background-position: -75px -87px;
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.footer-bottom li:nth-child(4) h3 i {
  background-image: url(../image/icon.png);
  width: 16px;
  height: 12px;
  background-position: -96px -86px;
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.footer-bottom li:nth-child(5) h3 i {
  background-image: url(../image/icon.png);
  width: 16px;
  height: 16px;
  background-position: 0px -112px;
  position: absolute;
  bottom: 0px;
  left: -25px;
}

.footer-bottom li:nth-child(3) p,
.footer-bottom li:nth-child(4) p,
.footer-bottom li:nth-child(5) p {
  margin-top: 5px;
  color: #888888;
}

.footer-bottom a:last-child {
  position: relative;
  float: right;
  font-size: 16px;
  line-height: 100px;
  margin-left: 100px;
  font-weight: bold;
  color: #fff;
}

.footer-bottom a:last-child i {
  float: right;
  background-image: url(../image/icon-new.png);
  width: 16px;
  height: 17px;
  background-position: -151px 0px;
  position: absolute;
  bottom: 41px;
  left: -25px;
}

/* 第十五部分：底部总结 开始 */
.bottom-total {
  width: 100%;
}

.intr-left {
  width: 1040px;
  float: left;
}

.intr-left dl {
  float: left;
  width: 250px;
  margin-top: 40px;
}

.intr-left dl dt {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 900;
}

.intr-left dl dd {
  margin-bottom: 13px;
  font-size: 14px;
}

.join-right {
  width: 240px;
  float: left;
}

.join-right dl:first-child,
.join-right dl:last-child {
  width: 110px;
  float: left;
}

.join-right dl:first-child dt,
.join-right dl:last-child dt {
  margin-top: 40px;
  font-weight: bolder;
  font-size: 16px;
  position: relative;
}

.join-right dl:first-child dd:nth-child(2) i {
  background-image: url(../image/icon.png);
  width: 29px;
  height: 23px;
  background-position: -130px -155px;
  position: absolute;
  top: 75px;
  right: 210px;
  transition: all 0.5s;
}

.join-right dl:first-child dd:last-child i {
  background-image: url(../image/icon.png);
  width: 30px;
  height: 24px;
  background-position: -270px -154px;
  position: absolute;
  top: 75px;
  right: 160px;
  transition: all 0.5s;
}

.join-right dl:first-child dd:nth-child(2) i:hover,
.join-right dl:first-child dd:last-child i:hover {
  opacity: 0.3;
}

.join-right dl:last-child dd:nth-child(2) i {
  background-image: url(../image/icon-new.png);
  width: 30px;
  height: 22px;
  background-position: -154px -34px;
  position: absolute;
  top: 75px;
  right: 80px;
  transition: all 0.5s;
}

.join-right dl:last-child dd:nth-child(2) i:hover {
  opacity: 0.3;
}

.sale-bottom {
  width: 100%;
  float: left;
  margin-top: 35px;
}

.sale-bottom p {
  font-size: 14px;
  margin-right: 10px;
  position: relative;
}

.sale-bottom p span:first-child {
  background-image: url(../image/icon-new.png);
  width: 76px;
  height: 25px;
  background-position: -270px -34px;
  position: absolute;
  bottom: 0px;
  left: 160px;
}

.sale-bottom p span:nth-child(2) {
  background-image: url(../image/icon-new.png);
  width: 90px;
  height: 25px;
  background-position: -404px -34px;
  position: absolute;
  bottom: 0px;
  left: 250px;
}

.sale-bottom p span:nth-child(3) {
  background-image: url(../image/icon-new.png);
  width: 111px;
  height: 22px;
  background-position: -270px -65px;
  position: absolute;
  bottom: 0px;
  left: 355px;
}

.sale-bottom p span:last-child {
  background-image: url(../image/icon-new.png);
  width: 153px;
  height: 21px;
  background-position: -270px -97px;
  position: absolute;
  bottom: 0px;
  left: 480px;
}

.cellphone {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.cellphone span {
  display: inline-block;
  font-size: 14px;
  margin-right: 90px;
  margin-bottom: 40px;
}

/* 第十五部分：底部总结 结束 */

/* 第十六部分： 安全 开始 */



/* 第十六部分： 安全 结束 */